*{
    margin: 0;
    padding: 0;
}

body{
    background: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E0E8FF;
    font-family: "outfit";
}

@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

.container{
    width: 100%;
    padding-top: 100px;
}

.card{
    background-color: #fff;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 10px 20px #D8D0FF;
}

.illustration_hero{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.contain_detail{
    padding: 20px;
}

.description{
    padding: 20px 50px 5px 50px;
}

.description>p{
    color: #7D808F;
}

.description>h1{
    padding-bottom: 20px;
}

.change>a{
    color: #392DAB;
    font-weight: 700;
}

.change>a:hover{
    color: #766CF1;
    text-decoration: none;
}

.plan{
    margin: 25px auto;
}

.price{
    color: #7D808F;;
}

.d-flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.box_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 45px;
    padding: 15px;
    background-color: #F8F9FE;
    border-radius: 10px;
}

.btn{
    padding: 15px;
    margin: 10px 45px;
    border-radius: 10px;
    cursor: pointer;
}

.blue{
    background-color: #382AE1;
    color: #fff;
    box-shadow: 1px 10px 20px #D8D0FF;
}

.blue:hover{
    background-color: #766CF1;
    color: #fff;
}

.cancel{
    color: #7D808F;
    font-weight: 700;
}

.cancel:hover{
    color: #000;
    font-weight: 700;
}

.attribution{
    margin: 15px 0;
    font-size: 1rem;
}

@media only screen and (max-width: 600px){
    .box_flex{
        flex-direction: column;
    }

    .d-flex{
        flex-direction: column;
    }

    .card{
        max-width: 300px;
    }

    .description>p{
        padding: 10px 0;
    }
}

